.cinematic-moment_description-box {
	border-image: url("fs://game/modal_bg.png");
	border-image-slice: 32 100 64 100 fill;
	border-image-outset: 0.2777777778rem 0.8888888889rem 1.4444444444rem 0.8888888889rem;
	border-image-width: 1.7777777778rem 5.5555555556rem 3.5555555556rem 5.5555555556rem;
}

.cinematic-moment_description-container {
	max-width: 35.5555555556rem;
}
@media (max-height: 768px) {
	.cinematic-moment_description-container {
		max-width: auto;
		width: 100%;
	}
}

/* @media (max-height: 768px) {
	.cinematic-moment_quote-container {
		width: 100%;
	}
} */